.container{
	margin-top: 10px;
}
.jumbotron {
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
}
.landing-image {
	background-color: #95a5a6;
}
h1,h2,h3,h4{
	font-family: 'Lato';
	
}
p{
  font-family: "Lato";
  font-size: 1em;
}
.section-divider {
	border-top: 1px solid #95a5a6;
	border-bottom: 1px solid #95a5a6;
}
